.action-form {
  display: inline-block;
  position: absolute;
  padding: 40px;
  background-color: #333333;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.action-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.action-form__input {
  display: inline-block;
  margin: 10px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 5px 7px;
  color: #ffffff;
}

.action-form__title {
  margin-bottom: 1.5rem;
}

.action-form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action-form span {
    font-size: 1.1rem;
    color: rgba(255,0,0,0.7);
}
.action-form label {
    font-size: 1.3rem;
    color: #757575;
    margin-left: 30px;
}

.action-form input[type="checkbox"] {
    margin-left: 5px;
    margin-top: 10px;
}
.action-form__select {
    display: inline-block;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 5px 7px;
    color: #ffffff;
}

.action-form__select option{
    color: #000;
}

.action-form__btn {
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 3px;
  border: none;
}

.btn-cansel {
  color: white;
  background-color: #6C757D;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.btn-save {
  color: white;
  font-size: 1.4rem;
  background-color: #007BFF;
  cursor: pointer;
}