* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
}

